Raw_DrugBank_data/drugbank_all_full_database/full_database.xml

requirements.txt
.vscode

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

ngrok.md

app/node_modules/